table.edititem{
	border-collapse: collapse;
	border: 2px solid #ea7b7e;
	padding: 40px;
	border-radius: 10px;
}
table.edititem td{
	padding: 10px;
	padding-top: 20px;
	vertical-align: top;
}
input[type=submit]{
	padding: 5px 30px;
	border-radius: 10px;
	font-family: Calibri;
	font-size: 18px;
	cursor: pointer;
}
input[type=text],textarea,input[type=number],select{
	font-family: Calibri;
	font-size: 14px;
	border-radius: 7px;
}
table.edititem td.label{
	font-weight: bold;
}